/* selectores */
/* selector de elementos */

h1 {
    color: green;
    text-decoration: underline;
    background-color: beige;
    padding: 30px;
    text-align: center;
}

#div_temas {
    display: none;
}

.product_cell {
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.laptop > h2 {
    color: blue;
}

.laptop > h3 {
    color: cadetblue;
    text-align: right;
    padding-right: 10px;
}


/* iphone 13 */
.celular > h2 {
    color: greenyellow;
}

.celular > h3 {
    color: aqua;
    text-align: right;
    padding-right: 10px;
}

/* Audifonos */

.aud > h2 {
    color: rebeccapurple;
}

.aud > h3 {
    color: midnightblue;
    text-align: right;
    padding-right: 10px;
}
/* h1[role="titulo"] {
    font-size: 60px;
} */

/* Selector de clase */
/* .titulo {
    color: red;
    font-size: 30px;
    background-color: aqua;
}

/* Selector Id */
/* #titulo_Huawei {
    color: yellow;

}

.big_table {
    font-size: 30px;
    border: 1px solid #ccc;
}

.big_table th, td {
    padding: 20px;
} */ 
